.terminal{

padding:20px;

}


.terminal-window{

background:#020617;

color:#22c55e;

font-family:
"Consolas",
monospace;

height:400px;

overflow-y:auto;

padding:20px;

border-radius:8px;

border:1px solid #334155;

}



.terminal-input{

display:flex;

gap:10px;

margin-top:15px;

}



.terminal-input span{

color:#22c55e;

font-size:20px;

}


.terminal-input input{

flex:1;

background:#111827;

color:white;

border:1px solid #475569;

padding:10px;

}



button{

padding:10px 15px;

cursor:pointer;

}