body {

margin:0;

background:#111;

color:white;

font-family:Arial, sans-serif;

}


button {

background:#222;

color:white;

border:1px solid #39ff14;

padding:10px 15px;

border-radius:8px;

cursor:pointer;

}


button:hover {

background:#39ff14;

color:black;

}